{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "endOfLine": "lf",
    "trailingComma": "none",
    "useTabs": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "bun",
        "elysia",
        "^@elysiajs/(.*)$",
        "discord.js",
        "discord-api-types",
        "^@discordjs/(.*)$",

        "^@routes/(.*)$",
        "^@commands/(.*)$",
        "^@constants/(.*)$",
        "^@events/(.*)$",
        "^@interfaces/(.*)$",
        "^@managers/(.*)$",
        "^@structs/(.*)$",
        "^@utils/(.*)$",
        "^@defs/(.*)$",
        "^@app/(.*)$",

        "<THIRD_PARTY_MODULES>"
    ]
}
